body {
  font-family: Arial, sans-serif;
  background-color: #111;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  padding: 20px;
  margin: 0;
  color: white;
}

a {
  color: #c7c7c7af;
  text-decoration: none;
  margin-top: -8px;
}

a:hover {
  text-decoration: underline;
}

a:active {
  transform: scale(0.9);
}

.container {
  text-align: center;
  background: #fff0;
  outline-color: white;
  outline-width: 1px;
  outline-style: solid;
  color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 400px;
}

h1 {
  margin-bottom: 12px;
  font-size: 26px;
  color: #fff;
}

.input-group {
  margin-bottom: 20px;
}

input {
  width: 80%;
  padding: 10px;
  margin-top: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #ffffff08;
  color: white;
}

.result {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
  color: #888; /* Grey color for default/placeholder text */
}

/* Dynamic color for result text */
.result.has-value {
  color: #888; /* Fallback color */
  background: linear-gradient(90deg, red, yellow, green);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
